{% extends 'default.html' %}
{% load custom_filters %}

{% block title %}
Advert
{% endblock title %}
{% block content %}

        <h2>{{ advert.subject }}</h2>
        <p>{{ advert.description }}</p>
        <p>
            {% for photo in advert.images.photos.all %}
                {% if photo.image %}
                    <img src="{{ photo.image.url }}" style="width: 200px;">
                {% endif %}
            {% endfor %}
        </p>
        <p>{{ advert.date }}</p>
        <p>{{ advert.filters }}</p>
        <p>{{ advert.user }}</p>
        <p>{{ advert.price|currency }}</p>
        <p>{{ advert.created }}</p>
        <hr>


<br>
    <br>

<a href= "http://127.0.0.1:8000/<int:pk>/update/"><button>Редактировать</button></a>
<a href= "http://127.0.0.1:8000/<int:pk>/delete/"><button>Удалить</button></a>



<br>
    <br>
<br>

{% endblock content %}